#This file lists all files that should be ignored by git.\

.idea
.vscode/*
*.iml


# Google Drive exclude
desktop.ini

#mac specific exception
.DS_Store

#node.js
node_modules

# cypress dummy tests
cypress/screenshots
cypress/videos

*.log

tmp

# exclude configs
config/default.json
**/.env.ci
**/.env.dev