#This file lists all files that should be ignored by git.\

.idea
.vscode/*
*.iml

# exclude nodejs
node_modules
package-lock.json


# Google Drive exclude
desktop.ini

#mac specific exception
.DS_Store

#node.js
node_modules
package-lock.json

# cypress dummy tests
cypress/integration/examples
cypress/fixtures/example.json
cypress/fixtures/profile.json
cypress/fixtures/users.json
cypress/screenshots
cypress/videos
