html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    font-family: Calibri, sans-serif;
}

.navbar {
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
    height: 100%;
}

.navbar-light .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    color: #272f35;
    padding: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #d4002d;
    color: white;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    background-color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #d4002d;
    color: white;
}

.breadcrumb {
    line-height: 1;
    margin: 0;
    border-radius: 0;
    padding: 0;
}

.breadcrumb ul {
    margin: 0;
}

.breadcrumb li {
    padding: 1rem 2.5rem 1rem 0;
    position: relative;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.breadcrumb a:after {
    content: 'chevron_right';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 1.3rem;
    right: 0.5rem;
    top: 14px;
}

.breadcrumb li:last-of-type a:after {
    content: '';
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb a:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* OVERVIEW LIST */

.card {
    margin: 10px;
    box-shadow: 2px 2px 3px #999;
}

.project-attribute-title {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 1.5rem;
}

.project-attribute-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.employee-icon {
    align-self: center;
    font-size: 3rem;
}

.badge {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 47px;
    padding: 0.25rem 0.45rem;
    color: white;
    background-color: #384046;
    align-self: start;
    border-radius: 0.75rem;
    background-color: #d4002d;
}

.overview .card:hover {
    background: whitesmoke;
    cursor: pointer;
}

#busy-indicator {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(50, 50, 50, 0.2);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#busy-indicator .spinner-border {
    width: 4rem;
    height: 4rem;
    border-width: 0.5rem;
}

table tbody tr td:last-of-type {
    min-width: 300px;
}

#error {
    text-align: center;
}

#error h1 {
    font-size: 10rem;
    margin: 0;
    color: #c6c6c6;
}

#error p {
    font-size: 1.5rem;
    margin: 0;
}

#error a {
    font-size: 1rem;
    margin-top: 1rem;
    display: block;
}

@media (max-width: 767.98px) {
    #error h1 {
        font-size: 5rem;
    }

    #error p {
        font-size: 1rem;
    }

    #error a {
        font-size: 1rem;
    }
}

.header-row {
    height: 50px;
    background-color: #384046;
}

#breadcrumb-row {
    justify-content: space-between;
}

#filter-row {
    justify-content: center;
}

.search {
    margin: 0 40px 0 0;
}

.search i {
    align-self: flex-end;
    position: absolute;
    margin: 14px 5px;
}

#search-box {
    width: 100%;
    padding: 5px 5px 5px 30px;
    margin: 10px 0;

    border: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

#search-box:focus {
    outline: none;
    border: 1px solid black;
    border-radius: 0.25rem;
}

#search-box:after {
    content: 'search';
    font-family: 'Material Icons';
}

.filter-search {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #dfdfdf;
}

.filter {
    padding-left: 8px;
}

.dropdown-menu {
    padding-top: 0;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
    background-color: white;
}

.dropdown-divider {
    margin-top: 0;
}

.btn i {
    vertical-align: middle;
    line-height: initial;
}

textarea {
    resize: none;
}

.added-employee {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.added-employee button {
    margin: 10px 20px 10px 0;
}

.added-employee .form-control {
    margin: 10px 0;
}

table tr td input:nth-of-type(2) {
    min-width: 100px;
}

.milestone-label {
    min-width: 10rem;
}
