.card
  .card-body.row
    .col-md-5.col-sm-12
      p.project-attribute-title Nummer
      p.project-attribute-text.project-number(name='project-number')
    .col-md-5.col-sm-12
      p.project-attribute-title Manager
      p.project-attribute-text.project-manager
    .col-md-2.col-sm-12.d-flex
      i.material-icons.employee-icon person
      span.badge.project-employees
    .col-12
      p.project-attribute-title Bezeichnung
      p.project-attribute-text.project-label
    .col-md-5.col-sm-12
      p.project-attribute-title Nächster Meilenstein
      p.project-attribute-text.project-milestone
    .col-md-7.col-sm-12
      p.project-attribute-title Kunde
      p.project-attribute-text.project-custome
